// Navigation code here
.links{
    .flexBox();
    h1{
        font-size:4rem;
        
    }/* h1 closes */
    .a-links{
        .aLinksStyling();
    
        @media (max-width: 500px){
        background-color: aqua;
        width:100%; 
        display:flex;
        font-size:1.8rem;
        margin:1%;
        justify-content: space-evenly;
      }/*medis break closes*/
     }/*a-links closes*/    
       
        a{
        color:black;
       }
       
    

}/*links closes */