// Navigation code here
.links{
    display:flex;
    flex-direction:column;
    align-items:center;
    h1{
        font-size:3.4rem;
        background-color:aqua;
    }
    .a-links{
        font-size:1.8rem;
    }

}