// Navigation code here
.links{
    .flexBox();
    h1{
        font-size:4rem;
        
    }
    .a-links{
        .aLinksStyling();
    
        @media @phone{
        background-color: aqua;
        width:100%; 
        display:flex;
        font-size:1.8rem;
        margin:1%;
       
        justify-content: space-evenly;
      }
     }    
       
        a{
        color:black;
       }
       
    

}